.project {
    margin-top: 290px;

    &-content {
        position: relative;
        margin: 0 auto;
        .bg-project {
            position: absolute;
            top: -275px;
            right: 70px;
        }
        h2 {
            color: #fff;
            text-align: center;
            font-family: Syne;
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        a {
            width: max-content;
            margin: 0 auto;
            display: flex;
            margin-bottom: 105px;
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-family: inherit;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.4px;
                color: #7e97b8;
                background-color: #e0e8ef;
                border-style: solid;
                border-width: 2px 2px 2px 2px;
                border-color: rgba(255, 255, 255, 0.333);
                border-radius: 40px 40px 40px 40px;
                padding: 16px 24px 16px 28px;
                transform: translate(0px, 0px) rotate(0deg);
                transition: 0.2s;
                box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
               }
               
               button:hover {
                color: #516d91;
                background-color: #E5EDF5;
                box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
               }
               
               button:active {
                box-shadow: none;
               }
              
        }
        &-box {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
                a {
                    img {
                        @media (max-width: 424px) {
                            width: 300px;
                            height: 400px;
                        }
                    }
                }
                h3 {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    color: #fff;
                    font-family: Syne;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    margin-bottom: 20px;
                    // margin-top: 35px;
                    div {
                        width: 48px;
                        height: 1px;
                        background: #ff9142;
                    }
                }
                p {
                    color: #fff;
                    font-family: Rubik;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
        }
    }
}
