.about {
    position: relative;
    &-bg {
        position: absolute;
        top: -225px;
        pointer-events: none;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        
        gap: 58px;
        @media (max-width: 1166px) {
            flex-direction: column;
            justify-content: center;
        }
        @media (max-width: 768px) {
        }
        @media (max-width: 630px) {
            margin-left: 0;
        }
        
        @media (max-width: 578px) {
            margin-left: 40px;
        }
        @media (max-width: 545px) {
            margin-left: 60px;
        }
        @media (max-width: 475px) {
            margin-left: 80px;
        }
        @media (max-width: 430px) {
            margin-left: 130px;
        }
        @media (max-width: 430px) {
            margin-left: 190px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            h1 {
                color: #fff;
                font-family: Syne;
                font-size: 56px;
                font-weight: 700;
            }
            p {
                color: #a8a8a8;
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 154.5%;
                letter-spacing: 0.99px;
                margin-top: 26px;
                width: 625px;

                
                @media (max-width: 630px) {
                    width: 520px;
                    font-size: 14px;
                }
                @media (max-width: 475px) {
                    width: 500px;
                    font-size: 14px;
                }
                @media (max-width: 425px) {
                    width: 500px;
                    font-size: 13px;
                }
            }
        }
        &__img {
            img {
                border-radius: 30px;
                width: 454px;
                height: 506px;
                display: flex;
            }
        }
    }
}
